*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    border: none;
    text-decoration: none;

}

body{
    background-color: #f3f3f3;
    color: #333;
    font-family: 'Montserrat', sans-serif;
}

.container{
    background: #fff;
    max-width: 450px;
    margin: 5% auto 0 auto;
    padding: 12px;
    border-radius: 2px;

}

.header header{
    text-align: center;
    margin: 4px 0px;
}

.form{
    margin: 4px 0px;
}

.form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form label{
    font-weight: 700;
    margin: 4px 0px;
}

.form input{
    height: 32px;
    margin: 4px 0px;
    padding: 18px 0px 18px 12px;
    border: 1px solid rgba(153, 153, 153, 0.42);
    border-radius: 4px;
    outline-color: #C176F9;
    font-family: 'Montserrat', sans-serif;
}

.form button{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 12px;
    background-color: #C176F9;
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    margin: 4px 0px;
    transition: filter .2s;
}

.form button:hover{
    filter: brightness(.93);
}

.separator{
    background-color: rgba(219, 219, 219, 0.713);
    height: 1.6px;
    width: 100%;
    border-radius: 2px;
    padding: 0px 5px;
    margin: 12px 0px;
}

.list-tasks{
    margin: 12px 0px;
}

.list-tasks ul li{
    background-color: #fae4b2;
    height: 52px;
    border-radius: 4px;
    color: #333;
    margin: 4px 0px;
    padding: 12px;
    transition: filter .2s;
}

.list-tasks ul li:hover{
    filter: brightness(.93);
}

.footer footer{
    padding: 12px;
}

.footer footer p{
    font-size: 12px;
    text-align: center;
}

.footer footer p a{
    color: inherit;
    transition: color .2s;
}

.footer footer p a:hover{
    color: #C176F9;
}
